# Dependencies
node_modules
.pnp
.pnp.*

# Build output
.next
out
dist

# Local environment
.env
.env.local
.env*.local

# Logs and caches
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm-cache
.eslintcache
tsconfig.tsbuildinfo

# System files
.DS_Store

# Vercel
.vercel
